code{
	color: $color-secondary;
	margin: 0;
	padding: 0;
	tab-size: 0;
}

pre{
	color: $color-tertiary;
	margin: 0 0 1em 0;
	tab-size: 4;
	font-size: .9em;
	background: $color-secondary;
	padding: 1em;
}
