
// COLOR

h1,h2,h3,h4,h5,h6{
	font-family: $font-secondary;
	color: $color-secondary;
	margin: .75em 0 0;
	line-height: 1.1;
	font-weight: normal;
	font-weight: 400;

	+ p{
		margin-top: .5em;
		text-indent: 1em;
	}
}

h1{
	font-size: 1.6em;
}

.intro{
	font-family: $font;
	margin: 2em -.5em;
}

@include mq($from: medium) {
	.intro{
		margin: 1em -1em 2em -1em;
	}
}

@include mq($from: big) {
	.intro{
		margin: 1em -2em 1.5em -2em;
		font-size: 2.5em;
	}
}