
// COLOR

h1,h2,h3,h4,h5,h6{
	font-family: $font-secondary;
	color: $color-secondary;
	margin: .75em 0 0;
	line-height: 1.1;
	font-weight: normal;
	font-weight: 400;

	+ p{
		margin-top: .5em;
		text-indent: 0;
   		hyphens: auto;
	}
}

h1{
	font-size: 1.5em;
}

h2{
	font-size: 1.6em;
	text-rendering: optimizeLegibility;
	margin-top: 1em;

	&:before{
		content:'';
		display: block;
		//width: 80%;
		height: .25rem;
		margin: 0 auto 0;
		background: $color-secondary;
	}
}

h3{
	margin: 0;
	font-size: 1.2em;
}

.extra-space{
	margin-top: 1em;

	&:before{
		content:'';
		display: block;
		//width: 80%;
		height: .25rem;
		margin: 0 auto 0;
		background: $color-primary;
	}
}

.intro{
	font-family: $font;
	margin: 1.5em -.5em;
	hyphens: auto;
	text-rendering: optimizeLegibility;
	letter-spacing: -.009em;
	line-height: 1.15;
}

@include mq($from: medium) {
	.intro{
		margin: 1em -1em 2em -1em;
	}

	h2{
		font-size: 1.9em;

		&:before{
			height: .5rem;
		}
	}

	h3{
		font-size: 1.25em;
	}

}

@include mq($from: mediumish) {
	.intro{
		font-size: 1.9em;
		margin-bottom: 1.5em;
	}

}

@include mq($from: big) {
	.intro{
		margin: 1em -1em 1.5em -1em;
	}
}