

p{
	margin: 0 0 1em 0;
	line-height: 1.3;
	hyphens: auto;
	text-indent: 1.5em;

	+ p{
		margin-top: 1em;
	}

	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6{
		margin-top: 1.5em;
	}

	&:last-child{
		text-indent: 0 !important;
	}
}

hr{
	border-top: none;
	border-top: .1em solid #000;
	display: block;
	margin: 1em;
	clear: both;
}
