
.code{
	border: $border-width/2 solid $color-tertiary;
	margin: 1em 0;
}

.code__caption{
	font-size: .85em;
	margin-bottom: .25rem;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 300;
}

.code__panel{
	position: relative;
	padding: 1em 1em 0;

	pre{
		padding: 0;
		margin:0;
		background: none;
	}

	&:before{
		content: 'CSS';
		color: $color-tertiary;
		background: $color-secondary;
		display: inline-block;
		padding: .5em .6em;
		font-size: .8em;
		float: right;
		position: absolute;
		top: 0;
		right: 0;

		border: $border-width/2 solid $color-tertiary;
		border-top: none;
		border-right: none;
	}

	& + & {
		border-top: $border-width/2 solid $color-tertiary;
	}
}

.code__scss{
	background: $color-secondary;

	&:before{
		content: 'SCSS';
		background: $color-primary;
	}
}
.code__css{
	background: $color-primary;
}

@include mq($from: medium) {
	.code__caption{
		margin-bottom: .5rem;
	}

	.code{
		border-width: $border-width;
	}
	.code__panel{
		&:before{
			border-width: $border-width;
		}

		& + & {
			border-width: $border-width;
		}
	}
}

@include mq($from: big) {
	.code{
		overflow: hidden;
		max-width: 70em;
		margin: 0 auto 1.5em;
	}
	.code__panel{
		float: left;
		width: 50%;
		//min-height: 20em;

		&:before{
			font-size: .9em;
		}

		
		& + & {
			border-top: none;
			border-left: $border-width solid $color-tertiary;
		}

	}
}