
.footer{
	.wrapper{
		padding: 1.5em 0;
		background: $color-secondary;
		border: .25rem solid $color-tertiary;
	}

	margin-top: 2em;
	color: $color-tertiary;

	a{
		color: inherit;
		text-decoration: underline;
		border: none;
	}

}

.footer__text{
	margin: .5em 0;
}

@include mq($from: small) {
	.footer{
		text-align: center;
	}
}

@include mq($from: medium) {
	.footer{
		padding-bottom: 0;
		.wrapper{
			border-width: $border-width;
		}
	}
}

@include mq($from: big) {
	.footer{
		.wrapper{
			padding: 3em 0;
		}
	}
}