

main, footer{
	.wrapper{
		margin: 0 2em;
	}

	@include mq($from: medium) {
		font-size: 1.1em;

		.wrapper{
			margin: 0 15%;
			padding: 1em 0 3em;
		}
	}

	@include mq($from: mediumish) {
		font-size: 1.2em;

		.wrapper{
			margin: 0 21%;
		}
	}

	@include mq($from: big) {
		font-size: 1.2em;
		padding-left: 17rem;

		.wrapper{
			width: 35rem;
			margin: 0 auto;
		}
	}
}