.sidebyside-list{
	counter-reset: sidebyside;
}

.sidebyside{
	margin: 2em auto 0;

	+ .sidebyside{
		margin-top: 3em;
	}
}

.sidebyside__text{

	&:before{
		counter-increment: sidebyside;
		content: counter(sidebyside);
		display: inline-block;
		float: left;
		width: auto;
		background: $color-primary;
		margin: .15rem .5rem .25rem 0;
		width: 2em;
		text-align: center;
		color: $color-tertiary;
		padding: .5em 0 .4em 0;
		line-height: 1;
		//font-family: $font-secondary;
		font-weight: 800;
		font-size: 1.25em;
	}
}


@include mq($from: medium) {

	.sidebyside__text{

		&:before{
			margin: .2rem 1rem .25rem 0;
			font-size: 2em;
		}
	}

}
	
@include mq($from: bigish) {


	.sidebyside{
		border-left: $border-width solid $color-tertiary;
		max-width: 70em;
		overflow: auto;

		.extra-space{
			margin-top: $border-width !important;
		}
	}

	.sidebyside__text{
		width: 40% !important;
		float: left;
		padding-right: 2em;

		&:before{
			margin: 1.5rem 1rem 1.5rem 0;
			font-size: 1.5em;
			float: none;
		}

		p{
			text-align: justify;
		}
	}

	.sidebyside__code{
		width: 60% !important;
		float: left;
	}

	.sidebyside__code{
		border-left: $border-width solid $color-tertiary;

		.code__panel{
			float: none;
			width: auto;

			+ .code__panel{
				border-left: none;
				border-top: $border-width solid $color-tertiary;
			}
		}
	}

}